@page "/gamesolver"
@using Lib.MechanismDesign

<PageTitle>Game Solver</PageTitle>
<h3>Game Solver</h3>

<div>Prisoner's Dilemma</div>
<EditForm Model="@prisonersDilemma" Context="prisonersDilemmaContext"> 
    <PlayerComponent 
    @bind-p1tl="@prisonersDilemma.p1tl"
    @bind-p1tr="@prisonersDilemma.p1tr"
    @bind-p1bl="@prisonersDilemma.p1bl"
    @bind-p1br="@prisonersDilemma.p1br"
    @bind-p2tl="@prisonersDilemma.p2tl"
    @bind-p2tr="@prisonersDilemma.p2tr"
    @bind-p2bl="@prisonersDilemma.p2bl"
    @bind-p2br="@prisonersDilemma.p2br" />
</EditForm>
<div>Hawk vs Dove</div>
<EditForm Model="@hawkDove" Context="hawkDoveContext"> 
    <PlayerComponent 
    @bind-p1tl="@hawkDove.p1tl"
    @bind-p1tr="@hawkDove.p1tr"
    @bind-p1bl="@hawkDove.p1bl"
    @bind-p1br="@hawkDove.p1br"
    @bind-p2tl="@hawkDove.p2tl"
    @bind-p2tr="@hawkDove.p2tr"
    @bind-p2bl="@hawkDove.p2bl"
    @bind-p2br="@hawkDove.p2br" />
</EditForm>
<div>Pigs game</div>
<EditForm Model="@pigsGame" Context="pigsGameContext"> 
    <PlayerComponent 
    @bind-p1tl="@pigsGame.p1tl"
    @bind-p1tr="@pigsGame.p1tr"
    @bind-p1bl="@pigsGame.p1bl"
    @bind-p1br="@pigsGame.p1br"
    @bind-p2tl="@pigsGame.p2tl"
    @bind-p2tr="@pigsGame.p2tr"
    @bind-p2bl="@pigsGame.p2bl"
    @bind-p2br="@pigsGame.p2br" />
</EditForm>
<div>Matching Pennies</div>
<EditForm Model="@matchingPennies" Context="matchingPenniesContext"> 
    <PlayerComponent 
    @bind-p1tl="@matchingPennies.p1tl"
    @bind-p1tr="@matchingPennies.p1tr"
    @bind-p1bl="@matchingPennies.p1bl"
    @bind-p1br="@matchingPennies.p1br"
    @bind-p2tl="@matchingPennies.p2tl"
    @bind-p2tr="@matchingPennies.p2tr"
    @bind-p2bl="@matchingPennies.p2bl"
    @bind-p2br="@matchingPennies.p2br" />
</EditForm>
<div>Strictly Competitive</div>
<EditForm Model="@strictlyCompetitive" Context="strictlyCompetitiveContext"> 
    <PlayerComponent 
    @bind-p1tl="@strictlyCompetitive.p1tl"
    @bind-p1tr="@strictlyCompetitive.p1tr"
    @bind-p1bl="@strictlyCompetitive.p1bl"
    @bind-p1br="@strictlyCompetitive.p1br"
    @bind-p2tl="@strictlyCompetitive.p2tl"
    @bind-p2tr="@strictlyCompetitive.p2tr"
    @bind-p2bl="@strictlyCompetitive.p2bl"
    @bind-p2br="@strictlyCompetitive.p2br" />
</EditForm>
@code {
    Game prisonersDilemma = new Game(){
        p1tl = 3,
        p1tr = 0,
        p1bl = 5,
        p1br = 1,
        p2tl = 3,
        p2tr = 5,
        p2bl = 0,
        p2br = 1,
    };
    Game hawkDove = new Game(){
        p1tl = 0,
        p1tr = 1,
        p1bl = 3,
        p1br = 2,
        p2tl = 0,
        p2tr = 3,
        p2bl = 1,
        p2br = 2,
    };
    Game pigsGame = new Game(){
        p1tl = 4,
        p1tr = 2,
        p1bl = 2,
        p1br = 3,
        p2tl = 6,
        p2tr = 0,
        p2bl = -1,
        p2br = 0,
    };
    Game matchingPennies = new Game(){
        p1tl = 1,
        p1tr = -1,
        p1bl = -1,
        p1br = 1,
        p2tl = -1,
        p2tr = 1,
        p2bl = 1,
        p2br = -1,
    };
    Game strictlyCompetitive = new Game(){
        p1tl = 3,
        p1tr = 0,
        p1bl = 6,
        p1br = 1,
        p2tl = 2,
        p2tr = 4,
        p2bl = 1,
        p2br = 3,
    };
    protected override async Task OnInitializedAsync() {

    }
}
